# create dataset
datasets>=5.0.0
kagglehub
tqdm

# sft / dpo / grpo / gspo
uv
triton>=3.3.0
torchvision==0.25.0+cu128
bitsandbytes
transformers>=4.56.2
tokenizers>=0.22.0,<=0.23.0
trl>=0.22.2
unsloth
unsloth_zoo
torchcodec==0.10.0+cu128
mamba_ssm
causal_conv1d
torchao>=0.16.0

# update dataset / grpo / gspo
vllm
